body {
  margin: 0;
  padding: 0;
  background-color:
    #1C1C1C;
}


.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  background: #1F2937;
  height: 559px;

}



.par1 {
  font-family: 'Karla', sans-serif;
  font-size: 40px;
  font-weight: 800;
  letter-spacing: -1px;
  line-height: 1;
  color: white;
  position: relative;
  left: 12px;

}

.par2 {
  color: #10B981;
  font-family: 'Karla', sans-serif;
  position: relative;
  top: -40px;
  left: 12px;
  margin-top: -10px;
}

.title {
  font-size: 40px;
  position: relative;
  top: 70px;
  left: 50px;

}



.par3 {
  color: #D5D4D8;
  font-family: 'Inter', sans-serif;
  position: relative;
  left: 12px;
  font-size: 15px;
  top: -70px;
  margin-bottom: 30px;
}



.g-btn {
  font-family: 'Inter', sans-serif;
  color: white;
  background-color: #10B981;
  border-radius: 8px;
  width: 230px;
  position: relative;
  left: 59px;
  margin-top: 20px;


}



.btn-text {
  align-items: center;
}

.zap-img {
  float: left;
  top: 12px;
  position: relative;

}

.g-btn:hover {
  background-color: #4dbc97;
}

.g-btn:active {
  background-color: #a1dec9;

}



hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid;
  border-color: #2F3E53;
  width: 450px;
  padding: 0;
  margin-top: 40px;
}

.boxes:active {}

.box1 {
  background-color: #273549;
  color: #ffffff;
  position: relative;
  width: 200px;
  text-align: center;
  height: 50px;
  left: 80px;
  top: 30px;
  border-radius: 2px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  s
}

.box1:active {
  background-color: #5b697c;
}

.box2:active {
  background-color: #5b697c;
}

.box3:active {
  background-color: #5b697c;
}

.box4:active {
  background-color: #5b697c;
}

.boxes {}

.box2 {
  background-color: #273549;
  color: #ffffff;
  position: relative;
  width: 200px;
  text-align: center;
  height: 50px;
  right: -314px;
  top: -20px;
  border-radius: 2px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 20px;
  letter-spacing: 1px;

}

.box3 {
  background-color: #273549;
  color: #ffffff;
  position: relative;
  width: 200px;
  text-align: center;
  height: 50px;
  left: 80px;
  top: -9px;
  border-radius: 2px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 20px;
  letter-spacing: 1px;

}

.box4 {
  background-color: #273549;
  color: #ffffff;
  position: relative;
  width: 200px;
  text-align: center;
  height: 50px;
  right: -314px;
  top: -58px;
  border-radius: 2px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
}